body {
    background-image: url(../img/baner.jpg);
    background-repeat: no-repeat;
    height: max-content;
    width: max-content;
}

h1, h2{
    color: white;
}

button{
    width: 120px;
    height: 70px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: aqua;
}

div{
    text-align: center;
    padding: 35vh;
}